@font-face {
    font-family: "Besty";
    src: local("'Besty'"), url(../styles/Besty.ttf);
    font-weight: normal;
  }
  @font-face {
    font-family: "Kiddos";
    src: local("'Kiddos-Demo'"), url(../styles/Kiddos-Demo.ttf);
    font-weight: normal;
  }

  .font-Kiddos{
    font-family: "Kiddos";
  }

  .font-Besty{
    font-family: "Besty";
    
  }

body{
  background-color: blue;
}

.mainContainer{
    overflow-x: hidden;
    
}
.navCointainer{
  margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 30px;
    margin: 0px 10px;
}

.video_wrapper{
  display: flex;
  width: 100%;
  justify-content: center;
  
}

.inn_video_wrapper{
  display: flex;
  width: 100%;
  max-width: 1000px;
  justify-content: center;
  position: relative;
}


.mint_soundlink {
  background-color: rgba(242, 103, 224, 0.8);
  padding: 2px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute ;
  top: 60px;
  right: 40px ;
  z-index: 10px;
}

.mint_soundlink button {
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 12px;
}

.mint_soundlink button:hover{
  cursor: pointer;
}
.mint_soundlink img{
  width: 50px;
  height: auto;
}
.VideoTag{
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  
  
}

.MintContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mint_date{
  display: inline-block;
  width: auto;
  padding: 18px;
  border: 1px;
  border-radius: 0.5rem;
  background-color: pink;
  letter-spacing: 0.05em;
  
}

.mintSection{
  margin-top: 20px;
  display: inline-block;
  padding: 20px;
  border: 1px;
  border-radius: 0.5rem;
  background-color: pink;
  text-align: center;
  letter-spacing: 0.1em;
}

.buttonContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}