@font-face {
    font-family: "Besty";
    src: local("'Besty'"), url(../styles/Besty.ttf);
  }
  @font-face {
    font-family: "Kiddos";
    src: local("'Kiddos-Demo'"), url(../styles/Kiddos-Demo.ttf);
  }

  .font-Kiddos{
    font-family: "Kiddos";
  }

  .font-Besty{
    font-family: "Besty";
  }

body{
    overflow-x: hidden;
    justify-items: center;
}
.navCointainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 30px;
    margin: 0px 10px;
}

.videoContainer{
  
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 10px 40px;
}

.vid {
    width: 100vh;
    height: auto;
}

.mint_date{
  width: auto;
  padding: 10px 15px;
  background: rgb(218, 22, 169);
  text-decoration-color: beige;
  font-size: 20px;
}