@font-face {
    font-family: "Besty";
    src: local("'Besty'"), url(../styles/Besty.ttf);
  }
  @font-face {
    font-family: "Kiddos";
    src: local("'Kiddos-Demo'"), url(../styles/Kiddos-Demo.ttf);
  }

  .font-Kiddos{
    font-family: "Kiddos";
  }

  .font-Besty{
    font-family: "Besty";
  }

.mainContainer{
    overflow-x: hidden;
    
}
.navCointainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 30px;
    margin: 0px 10px;
}

.videoContainer{
  
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px 80px;
}

.vid {
  width: auto;
}

.MintContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mint_date{
  display: inline-block;
  width: auto;
  padding: 4px 10px;
  border-radius: 1px;
  background-color: blue;
  
}

.mintSection{
  display: inline-block;
  margin-top: 10px;
  background-color: pink;
}